{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/css/main.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header> --}}
    <main>
        <form action="/admin/add-product" method="POST">
            <input type="text" name="title">
            <button type="submit">
               Add Product
            </button>
        </form>
    </main>
{{!-- </body>

</html> --}}