extends layouts/main-layout.pug

block content 
     main 
        form(action="/admin/add-product" method="POST")
            input(type="text" name="title")#title
            button(type="submit") Add Product