doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/main.css")
        block style
    body 
        header 
            nav
                ul
                    li
                        a(href="/") Shop
                    li
                        a(href="/admin/add-product", class=(path==='/admin/add-product'?'active': 'inactive')) Add product
        block content