<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{#if productCSS}}
        <link rel='stylesheet' href="/css/main.css">
    {{/if}}
    <title>{{pageTitle}}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="{{#if activeShop}}active{{/if}}" href="/">Shop</a></li>
                <li><a class="{{#if activeAddProduct}}active{{/if}}" href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header>
    {{{body}}}
</body>
</html>