<%- include('../includes/head.ejs')%>

<body>
    <%- include('../includes/navigation.ejs')%>
<main>
    <% if(products.length>0) {%> 
        <ul>
            <% products.forEach(p=> { %>
                <li>
                   <p>
                    <%= p.productId.title %> (<%= p.quantity %>)
                   </p>
                   <form action="/cart-delete-item" method="POST">
                       <input type="hidden" value="<%= p.productId._id %>" name="productId">
                       <button class="btn" type="submit">DELETE</button>
                   </form>
                </li>
            <% })%>
        </ul>
        <form action ='/create-order' method="POST">
            <button class="btn"> Order Now!</button>
        </form>
    <%} else {%>
        <h1>No Products in cart!</h1>
    <% }%>
</main>
    

</body>

</html>