{{!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/css/main.css">
    <title>{{pageTitle}}</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
            </ul>
        </nav>
    </header> --}}
    <main>
            {{#if hasProducts}}
                <div class="grid">
                    {{#each prods}}
                    <article class="card product-item">
                        <header class="card__header">
                            <h1>
                                {{this.title}}
                            </h1>
                        </header>
                        <div>
                            <img src="https://cdn.pixabay.com/photo/" , alt="A book">
                        </div>
                        <div>
                            <h2>$11</h2>
                            <p>A very inte</p>
                        </div>
                        <div>
                            <button>Add to cart</button>
                        </div>
                    </article>
                    {{/each}}
                </div>
                {{else}}
                <h1>No products found</h1>
                {{/if}}
    </main>
{{!-- </body>

</html> --}}