extends layouts/main-layout.pug

block style 
    <link rel='stylesheet' href="/css/main.css">
block content 
        main 
            if prods.length > 0
                .grid 
                    each product in prods 
                        article.card.product-item 
                            header.card__header 
                                h1.product__title #{product.title}
                            .card  
                                img(src="https://cdn.pixabay.com/photo/", alt="A book")
                            .card__content 
                                h2.product__price $19.99
                                p.product__description A very interesting book about...
                            .card__actions 
                                button.btn Add to cart
            else 
                h1 No Products                    