<%- include('../includes/head.ejs')%>

<body>
    <%- include('../includes/navigation.ejs')%>
    <main class="centered">
        <h1><%= product.title %></h1>
        <hr>
        <div>
            <img class="product-img" src="<%=product.imageUrl%>" alt="<%=product.title%>">
        </div>
        <h2><%=product.price%></h2>
        <p><%= product.description%></p>
        <!-- instead of post/input we can send data with post/params as well   -->
        <!-- <form action="/cart" method="post">
            <button class="btn" type="submit">Add to cart</button>
            <input type="hidden" name="productId" value="<%= product.id%>">
        </form> -->
        <%- include('../includes/add-to-cart.ejs')%>
    </main>
</body>

</html>